#search-results{
    position: absolute;
    width:90%;
    font-size: 0.8rem;
    top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    left:5%;
    margin-top: -2px;
    z-index: 1;
}

#search-nav-container {
    position: relative;
    width: 100%;
}

#search-results ul li{
    list-style-type: none;
    list-style: none;
    padding: 8px;
}

.td-search-input.form-control:focus{
    box-shadow: 0 0 0 1px #ccc!important;
}

#search-results ul{
    list-style-type: none;
    list-style: none;
    padding: 8px;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #fff;
}