cmd/test-exporter/test-exporter
cmd/cortex/cortex
cmd/query-tee/query-tee
cmd/blocksconvert/blocksconvert
cmd/thanosconvert/thanosconvert
.uptodate
.pkg
.cache
docker-images/
website/public
website/resources
website/content/en/docs
e2e_integration_test*
active-query-tracker
dist/

# Binaries built from ./cmd
/blocksconvert
/cortex
/query-tee
/test-exporter

# This is custom Makefile modification, if it exists.
Makefile.local

.idea
compose
compose-simple