{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
    name: {{ include "cortex.serviceAccountName" . }}
    labels:
        {{- include "cortex.labels" . | nindent 4 }}
        {{- with .Values.serviceAccount.annotations }}
    annotations:
        {{- toYaml . | nindent 4 }}
        {{- end }}
        {{- end -}}
