global:
  scrape_interval: 5s
  external_labels:
    scraped_by: prometheus

scrape_configs:
  - job_name: cortex-1
    static_configs:
      - targets: ['localhost:8001']
        labels:
          container: 'cortex-1'
  - job_name: cortex-2
    static_configs:
      - targets: ['localhost:8002']
        labels:
          container: 'cortex-2'

remote_write:
  - url: http://localhost:8001/api/v1/push
