---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: distributor
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: distributor
    spec:
      containers:
        - name: distributor
          image: quay.io/cortexproject/cortex
          imagePullPolicy: IfNotPresent
          args:
            - -target=distributor
            - -server.http-listen-port=80
            - -consul.hostname=consul.default.svc.cluster.local:8500
            - -distributor.replication-factor=1
          ports:
            - containerPort: 80
