---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dynamodb
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: dynamodb
      annotations:
        prometheus.io.scrape: "false"
    spec:
      containers:
      - name: dynamodb
        image: amazon/dynamodb-local:1.11.477
        imagePullPolicy: IfNotPresent
        args: ['-jar', 'DynamoDBLocal.jar', '-inMemory', '-sharedDb']
        ports:
        - containerPort: 8000
