{
    "since": 2,
    "configs": {
        "fake": {
            "id": 1,
            "config": {
                "rule_format_version": "2",
                "rules_files": {
                    "test": "groups:\n    - name: group-1\n      rules:\n      - record: avalanche_metric_mmmmm_0_0:count\n        expr: count(avalanche_metric_mmmmm_0_0)\n    - name: group-2\n      rules:\n      - record: avalanche_metric_mmmmm_0:count\n        expr: |\n          count(avalanche_metric_mmmmm_0_0) +\n          count(avalanche_metric_mmmmm_0_1)\n      - alert: alert-1\n        expr: |\n          count(avalanche_metric_mmmmm_0_0) > 1000\n      - alert: alert-2\n        expr:  count(avalanche_metric_mmmmm_0_0) > 100\n        for:   5m\n        labels:\n          label1: value1\n          label2: value2\n        annotations:\n          annotation1: value1\n          annotation2: value2\n"
                }
            }
        }
    }
}
