version: '3.4'
services:

  consul:
    image: consul
    command: [ "agent", "-dev" ,"-client=0.0.0.0", "-log-level=info" ]
    ports:
      - 8500:8500

  minio:
    image: minio/minio
    command: [ "server", "/data" ]
    environment:
      - MINIO_ACCESS_KEY=cortex
      - MINIO_SECRET_KEY=supersecret
    ports:
      - 9000:9000
    volumes:
      - .data-minio:/data:delegated

  memcached:
    image: memcached:1.6

  configstore:
    image: nginx
    volumes:
      - .data-configstore:/usr/share/nginx/html/private:ro

  prometheus:
    image: prom/prometheus:v2.16.0
    command: ["--config.file=/etc/prometheus/prometheus.yaml"]
    volumes:
      - ./config:/etc/prometheus
    ports:
      - 9090:9090

  distributor:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=distributor -server.http-listen-port=8001 -server.grpc-listen-port=9001"]
    depends_on:
      - consul
      - minio
    ports:
      - 8001:8001
    volumes:
      - ./config:/cortex/config

  ingester-1:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=ingester -server.http-listen-port=8002 -server.grpc-listen-port=9002"]
    depends_on:
      - consul
      - minio
    ports:
      - 8002:8002
    volumes:
      - ./config:/cortex/config
      - .data-ingester-1:/tmp/cortex-tsdb-ingester:delegated

  ingester-2:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=ingester -server.http-listen-port=8003 -server.grpc-listen-port=9003"]
    depends_on:
      - consul
      - minio
    ports:
      - 8003:8003
    volumes:
      - ./config:/cortex/config
      - .data-ingester-2:/tmp/cortex-tsdb-ingester:delegated
    
  querier:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=querier -server.http-listen-port=8004 -server.grpc-listen-port=9004"]
    depends_on:
      - consul
      - minio
    ports:
      - 8004:8004
    volumes:
      - ./config:/cortex/config

  store-gateway-1:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=store-gateway -server.http-listen-port=8008 -server.grpc-listen-port=9008"]
    depends_on:
      - consul
      - minio
    ports:
      - 8008:8008
    volumes:
      - ./config:/cortex/config

  store-gateway-2:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=store-gateway -server.http-listen-port=8009 -server.grpc-listen-port=9009"]
    depends_on:
      - consul
      - minio
    ports:
      - 8009:8009
    volumes:
      - ./config:/cortex/config

  ruler:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=ruler -server.http-listen-port=8005 -server.grpc-listen-port=9005"]
    depends_on:
      - consul
      - minio
    ports:
      - 8005:8005
    volumes:
      - ./config:/cortex/config

  compactor:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=compactor -server.http-listen-port=8006 -server.grpc-listen-port=9006"]
    depends_on:
      - consul
      - minio
    ports:
      - 8006:8006
    volumes:
      - ./config:/cortex/config

  query-frontend:
    build:
      context:    .
      dockerfile: dev.dockerfile
    image: cortex
    command: ["sh", "-c", "sleep 3 && exec ./cortex -config.file=./config/cortex.yaml -target=query-frontend -server.http-listen-port=8007 -server.grpc-listen-port=9007"]
    depends_on:
      - consul
      - minio
    ports:
      - 8007:8007
    volumes:
      - ./config:/cortex/config
