//
// Top navigation bar
//

.td-navbar {
    .nav-link {
        font-weight: $font-weight-normal;
    }
}

//
// Left sidebar
//

.td-sidebar-nav {
    .td-sidebar-link {
        padding: 0.5rem 0;

        &__page {
            font-weight: $font-weight-normal;
        }
    }
    
    // Display a left border on the active page
    a {
        font-size: 0.9rem;
        font-weight: $font-weight-normal;
        padding-left: 13px !important;

        &.active {
            border-left: 3px solid $primary;
            font-weight: $font-weight-bold;
            padding-left: 10px !important;
        }
    }
}

@media (min-width: 768px) {
    .td-sidebar-nav__section > ul {
        padding-left: 1rem;
    }
}

//
// Content
//

.td-content {
    > h4 {
        font-size: 1.2rem;
    }
}

//
// Adopters logos
//

.adopters-logos {
    // Horizontally center logos.
    text-align: center;
}

.adopter-logo {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 100px;
    overflow: hidden;

    // Display a shadow behind the box to let it visually pop up.
    border: 1px solid #dedede;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #dedede;

    // Horizontally and vertially center the image.
    text-align: center;
    line-height: 80px;

    > img {
        // Fit the image within the container.
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
