/*

Add styles or override variables from the theme here.

*/

$primary: #3b697e;
$secondary: #b73b02;
$light: #e9ecef;

.td-navbar {
    background: white !important;
}

.btn-lg {
    border-radius: 0.5rem!important;
}

.btn {
    border-radius: 0.5rem!important;
}


.navbar-dark .navbar-nav .nav-link {
    color: $primary !important;
}
::placeholder {
    color: $primary !important;
}

.navbar-bg-onscroll {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    #cortex-logo {
        display: block !important;
    }
    * {
        color: white !important;
    }
    ::placeholder {
        color: white !important;
    }
}

.adopter-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: inherit;
    height: 100px;
}

footer {
   min-height: unset!important;
}