<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-5">
    <div class="row text-white">
      <div class="col-2 col-md-2 col-lg-2 mx-5">
        <img src="/images/cortex-stacked-white.png" width="90px" class="img-fluid float-left" />
      </div>
      <div class="col-6 col-md-3 col-lg">
        <h6 class="font-weight-bold">Community</h6>
        <ul class="list-unstyled">
          <li>
            <a href="https://slack.cncf.io" class="text-reset text-white">
              <i class="fab fa-fw fa-slack"></i>  Slack
            </a>
          </li>
          <li>
            <a href="https://github.com/cortexproject/cortex" class="text-reset text-white">
              <i class="fab fa-fw fa-github"></i>  GitHub
            </a>
          </li>
          <li>
            <a href="https://twitter.com/cortexmetrics" class="text-reset text-white">
              <i class="fab fa-fw fa-twitter"></i>  Twitter
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg">
        <h6 class="font-weight-bold">About</h6>
        <p>Cortex is an OSS licensed project as Apache License 2.0</p>
      </div>
    </div>
  </div>
</footer>
