<footer class="row td-box td-box--dark td-box--gradient td-box--height-auto text-white p-5">
  <div class="col-12 col-sm-4 pb-5 pb-sm-0">
    <img src="/images/cortex-stacked-white.png" width="75px" class="img-fluid float-left" />
  </div>
  <div class="col-12 col-sm-4 pb-5 pb-sm-0">
    <h6 class="font-weight-bold">Community</h6>
    <ul class="list-unstyled">
      <li>
        <a href="https://slack.cncf.io" class="text-reset text-white">
          <i class="fab fa-fw fa-slack"></i>  Slack
        </a>
      </li>
      <li>
        <a href="https://github.com/cortexproject/cortex" class="text-reset text-white">
          <i class="fab fa-fw fa-github"></i>  GitHub
        </a>
      </li>
      <li>
        <a href="https://twitter.com/cortexmetrics" class="text-reset text-white">
          <i class="fab fa-fw fa-twitter"></i>  Twitter
        </a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-4">
    <h6 class="font-weight-bold">About</h6>
    <p>Cortex is an OSS licensed project as Apache License 2.0</p>
  </div>
</footer>
